.accordion {
    background-color: #eee;
    color: black;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    transition: 0.4s;
    font-size: 1.6em;
    font-weight: 700;
  }
  
  .active, .accordion:hover {
    background-color: #ccc; 
  }
  
  .panel {
    padding: 0 18px;
    display: none;
    background-color: white;
    overflow: hidden;
  }

  .methodology_faq {
    padding: 0px 60px 0px 60px;
  }

  @media only screen and (max-width: 800px) {
    .methodology_faq {
        padding: 0px 15px 0px 15px;
      }
  }